/*-------

   Gallery

-------*/
.mbr-gallery .mbr-gallery-item {
    position: relative;
    /*display: inline-block;*/
    padding-bottom: 30px;
}
.mbr-gallery .mbr-gallery-item > a {
    position: relative;
    display: block;
    background: #fff;
    outline: none;
}
.mbr-gallery .mbr-gallery-row {
    margin-bottom: -30px;
}
.mbr-gallery .mbr-gallery-item img {
    width: 100%;
    opacity: 1;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}
.mbr-gallery .mbr-gallery-item > a:hover img {
    opacity: 0.9;
}
.fts{ color:#003366;}
.prgs{ padding-top:2em;}
.prgs a{ color:#FF0000; font-weight:bold;}
.btn-primary{background-color:#428bca;border-color:#357ebd}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary{color:#fff;background-color:#3276b1;border-color:#285e8e}
.btn-primary.raised{box-shadow:0 6px 0 0 #BC391C}
.btn-primary.raised.active,
.btn-primary.raised:active{background:#33a6cc;box-shadow:none;margin-bottom:-3px;margin-top:3px}
.btn{padding:10px 24px;border:0;font-weight:600;letter-spacing:1px;text-transform:capitalize}
.btn.active:focus,
.btn:active:focus,
.btn:focus{outline:0}
.btn-primary{background:#F45C13;color:#fff}
.tpsy{margin-top:2em;}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary{background:#FF8040}
.btn-primary.active,
.btn-primary:active{background:#007299;box-shadow:none}
#foots{}
#foots li { text-decoration:none; list-style:none;}
#foots a{ text-decoration:none; font-weight:100;}
#foots a:hover{ color:#F00; text-shadow:#FFF 1px 2px 1px;}
#tops{ padding-top:0.8em; padding-bottom:0.8em;}
#progs{ padding-bottom:2em;}
.mbr-gallery .mbr-gallery-item .icon {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}
.mbr-gallery .mbr-gallery-item > a:hover .icon {
    opacity: 1;
}

/* remove spacing */
.mbr-gallery .mbr-gallery-row.no-gutter {
    margin: 0;
}
.mbr-gallery .mbr-gallery-row.no-gutter .mbr-gallery-item {
    padding: 0;
}

/* container */
.mbr-gallery .container.mbr-gallery-layout-default {
    padding: 93px 0;
}

/* fix horizontal scrollbar */
.mbr-gallery .mbr-gallery-layout-default,
.mbr-gallery .mbr-gallery-layout-article {
    overflow: hidden;
}

/* article layout */
.mbr-gallery .mbr-gallery-layout-article > div {
    padding-left: 0;
    padding-right: 0;
}


/* lightbox */
.mbr-gallery .modal {
    position: fixed;
    overflow: hidden;
    padding-right: 0 !important;
}
.mbr-gallery .modal-body {
    padding: 0;
}
.mbr-gallery .modal-body img {
    width: 100%;
}
.mbr-gallery .modal .close {
    position: absolute;
    background-image: none;
    font-size: 20px;
    width: 54px;
    height: 54px;
    top: 20px;
    right: 20px;
    line-height: 54px;
    opacity: 1;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    text-shadow: none;
    z-index: 5;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.mbr-gallery .modal .close:hover {
    background: #fff;
    color: #000;
}

/* modal back color opacity */
.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

@media (max-width: 768px) {
    .mbr-gallery .modal-dialog {
        margin: 10px auto;
    }

    .mbr-gallery .carousel-indicators,
    .mbr-gallery .carousel-control,
    .mbr-gallery .modal .close {
        position: fixed;
    }
}

/* fix fade in effect */
.mbr-gallery .modal.fade .modal-dialog {
    margin-top: -100px;
    -webkit-transition: margin-top 0.3s ease-out;
    -moz-transition: margin-top 0.3s ease-out;
    -o-transition: margin-top 0.3s ease-out;
    transition: margin-top 0.3s ease-out;
}
.mbr-gallery .modal.in .modal-dialog,
.mbr-gallery .modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.mbr-gallery .modal.in .modal-dialog {
    margin-top: 30px;
}